// Project specifics

@include breakpoint($medium) {

}


.navbar.is-dark {
  background-color: $primary;
}




// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------
// HOME
// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------

@include breakpoint-max($medium) {
  .tabs ul {
    flex-direction: column;
    li {
      width: 100%;
    }
    a {
      justify-content: left;
      // width: 100%;
    }
  }
}



// replace images in fiches by smaller ones that grow on hover
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.7); }

// fix for tables in fiches
.fiche-table td {
  padding: 15px;
  text-align: left;
  border: 1px solid;
}

// highlight for search results
.highlight {
  background-color: #fff2ac;
  background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}


// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------
// KERNTHEMA'S
// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------


#filter {
  .is-active {
    &.tab-leren-bijsturen a {
      background-color: lighten($pink, 5);
    }
    &.tab-leren-zichtbaar-maken a {
      background-color: lighten($azure, 30);
    }
    &.tab-leren-in-een-veilig-en-stimulerend-leerklimaat a {
      background-color: lighten($aquamarine, 10);
    }
  }
}
.kernthemas {
  .leren-bijsturen {
    background-color: lighten($pink, 5);
  }
  .leren-zichtbaar-maken {
    background-color: lighten($azure, 30);
  }
  .leren-in-een-veilig-en-stimulerend-leerklimaat {
    background-color: lighten($aquamarine, 10);
  }
}

.kernthemas {
  .subcat {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    // padding: 1.5rem;
  }
  .fiche-list {
    list-style: decimal;
    list-style-position: outside;
    margin: .5rem 1.5rem .5rem 2rem;
  }
  .subcat-link {
    display: block;
    text-decoration: underline;
    font-size: 80%;
    margin-top: -.5rem;
  }
  .subcat-link-verberg {
    margin: -.5rem 1.5rem .5rem 2rem;
  }

  .subcat {
    @include cipt-transition();
    &.is-active {
      background-color: rgba( $white, .5 );
    }
  }
  



  // @include cipt-transition();
}



// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------
// FICHE
// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------


.fiche {

  .article-header {
    margin-bottom: $paragraph-margin-bottom*2;
  }

  .article-section {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    .icon {
      position: absolute;
      top: 0;
      left: -3rem;
      border-radius: 50%;
      i {
        color: $white;
      }
    }
  }
  
}











// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------
// FOOTER
// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------
footer.site-footer {
  text-align: center;
  background-color: $primary;
  color: $white;
  font-size: 80%;
  a, a:hover, a:focus {
    color: $white;
  }
}