// Project specifics

@include breakpoint($medium) {

}


.navbar.is-dark {
  background-color: $primary;
}




// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------
// HOME
// ----------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------

@include breakpoint-max($medium) {
  .tabs ul {
    flex-direction: column;
    li {
      width: 100%;
    }
    a {
      justify-content: left;
      // width: 100%;
    }
  }
}

// replace images in fiches by smaller ones that grow on hover
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.7); }

