a {
  @include cipt-transition();
  
  color: $link;

  &:hover,
  &:focus {
    color: darken($link, 10%);
    // text-decoration: underline;
  }

  h1, h2, h3 {
    text-decoration: none;
  }
}

a, a:hover, a:visited, a:active {
  // color: $black;
}


.editor-content,
.subcat ul,
.breadcrumb,
.article-download {
  a {
    color: #006598;
    text-decoration: underline;
    &:hover,
    &:focus {
      // text-decoration: underline;
      color: darken(#006598, 10%);
    }
  }
}

.button:hover, .button:focus {
  border-color: $link;
  color: $link; 
}



// NAVBARS
#main-nav {
  > ul:first-child,
  > ul:last-child {
    flex: initial;
  }
  div.thema-tabs {
    flex: auto;
  }

  .tab-home {
    a span {
      display: inline-block;
      height: 1.67em;
    }
  }
}
.navbar-brand {
  flex-grow: 1;
}
.navbar-menu {
  flex-grow: 0;
}
.navbar-burger {
  color: white;
  &:hover,
  &:focus {
    background-color: rgba($white, 0.05);
  }
}
.navbar-item-logo {
  padding: 0 .35rem;
  img {
    display: block;
    height: 32px;
    height: 32px;
    // @include from($desktop) {
    //   height: 25px;
    //   //padding-bottom: 5px;
    // }
  }
}
.navbar-end {
  font-size: 100%;
}
.search-box {
  .field.navbar-item {
    margin-bottom: 0;
  }

  // input {
  //   @include from($tablet) {
      // @include input-small();
  //   }
  // }
  // input {
  //   @include cipt-transition();
  //   background-color: $navbar-item-hover-background-color;
  //   &:hover,
  //   &:focus {
  //     background-color: $white;
  //   }
  // }

  @include until($desktop) {
    a.navbar-item,
    .navbar-link {
      background-color: #fafafa;
    }
  }
  a.navbar-item:hover,
  a.navbar-item.is-active,
  .navbar-link:hover,
  .navbar-link.is-active,
  a.navbar-item:focus {
    background-color: $navbar-item-hover-background-color;
  }
  // .navbar-dropdown {
  //   padding-top: 0;
  //   padding-bottom: 0;
  //   a:last-child {
  //     margin-bottom: .75rem;
  //   }
  // }
}


// ul.mobile-tabs {
//   flex-grow: 0;
//   flex-direction: row;
//   align-items: flex-start;
//   flex-wrap: wrap;
//   li {
//     display: flex;
//     flex-grow: 0;
//   }
// }

.navbar-item.site-logo {
  flex-grow: 1;
  flex-shrink: 1;
}
.mobile-navbar {
  // align-self: flex-end;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  .is-hidden-desktop {
    a {
      display: block;
      padding: .5rem;
      color: $white;
    }
    // @include until(300px) {
    //   a {
    //     padding: 0.4rem;
    //   }
    // }
  }
}



.breadcrumb {
  margin-bottom: 0 !important; //$paragraph-margin-bottom/2 !important;
  margin-top: -.5rem;
  font-size: 80%;
  li + li::before {
    color: lighten($primary, 30);
  }

  .is-active > span {
    padding-left: 0.75em;
  }
  // li {
  //   position: relative;
  //   padding-right: 2rem;
  //   &:after {
  //     display: block;
  //     content: '>';
  //     position: absolute;
  //     right: 0;
  //     width: 1em;
  //   }
  //   &:last-child {
  //     &:after {
  //       display: none;
  //     }
  //   }
  // }
  @include mobile() {
    li {
      width: 100%;
      & + li {
        padding-left: .8rem;
        & + li {
          padding-left: 1.2rem;
          & + li {
            padding-left: 1.6rem;
          }
        }
      }
    }
  }
}

nav.article-navigation {
  overflow: hidden;
  .button.disabled {
    background-color: $light-gray;
    pointer-events: none;
  }
  .button {
    margin: .5rem;
    &.pagination-next {
      float: right;
    }
  }


  @include from($desktop) {
    position: fixed;
    top: 50%;
    z-index: 1;
    left: 0;
    width: 100%;
  }
}
.article-content {
  position: relative;
  z-index: 10;
}




// MODAL
.modal-content {
  position: relative;
  background-color: $white;
  border-radius: $global-radius;

  .modal-close {
    position: absolute;
  }
  .modal-close::before, .modal-close::after {
    background-color: $body-font-color;
  }
}





// MISC
// .article-figure {
//   margin-top: $paragraph-margin-bottom*1.5;
//   margin-bottom: $paragraph-margin-bottom*1.5;
//   margin-left: $paragraph-margin-bottom*-1.5;
// }


.download-button {
  font-size: 80%;
  .icon {
    margin-right: 0.5em;
  }
}


// SHUTTER
// #shutter {
//   display: block;
//   position: fixed;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 100%;
//   background: $white; // rgba($white, 1);
//   z-index: 99; // right below header

//   // detaults + transition back to normal (hidden & at top)
//   transition-delay: 0s;
//   transition-duration: 0;
//   transition-property: all;
//   // transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); //easeInQuad;
//   // transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); // easeOutCirc
//   // transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); // easeOutExpo
// }

// #shutter.active {
//   bottom: 0;

//   // transitioning open (covering full page)
//   transition-duration: .4s;
//   transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); // easeOutExpo
// }

// #shutter.active-out {
//   bottom: 0;
//   top: 100%;

//   // transitioning out (going to the bottom)
//   transition-duration: .4s;
//   transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); // easeOutExpo
// }












// OVERLAY

// .reveal {

//   background: transparent;
//   position: fixed;
//   z-index: 500;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   overflow-y: auto;

//   &.reveal-inactive {
//     width: 0;
//     height: 0;
//     min-height: inherit;
//   }

//   .reveal-inner {
//     background: $light-gray; //$charcoal_grey;
//     // margin: $global-margin;
//     // padding-top: $global-margin;
//     padding-bottom: $global-margin;
//     min-height: 100vh;
//     position: relative;
//     // .page-template-page-contact-list &,
//     // .page-template-page-contact & {
//       margin: $global-margin/3;
//     // }

//     overflow-x: hidden;
//     .wrap {
//       overflow: visible;
//     }
//   }

//   &#navreveal .reveal-inner {
//     background: $medium-gray;
//     margin: 0;
//   }

//   .reveal-controls {
//     padding: $global-margin;
//     padding-right: $global-margin * 4;
//     position: relative;
//     min-height: $global-margin * 3; // height close button

//     .close-button,
//     .nav-close-button {
//       position: absolute;
//       top: 0;
//       right: 0;
//       width: $global-margin*3;
//       height: $global-margin*3;
//       text-align: center;
//       padding-top: $global-margin;
//       cursor: pointer;
//       @include cipt-transition();
//       // .svgicon {
//       //   color: $gray;
//       //   font-size: 1.6666667rem;
//       //   line-height: 2.71;
//       // }
//       &:hover,
//       &:focus {
//         .svgicon {
//           color: blue;
//         }
//       }
//     }

//   }

//   .reveal-content,
//   .nav-reveal-content {
//     padding: 0 $global-margin $global-margin*2 $global-margin;
//     .responsive-embed {
//       margin-left: 0;
//       margin-right: 0;
//     }
//     .contained {
//       padding-top: 0;
//     }
//   }

  

//   &.reveal-inactive {
//     // animate out:
//     opacity: 0;
//     transform: scale(0.8);
//     // -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
//     transition: transform 0.2s, easeInQuad 0.2s;

//     .reveal-content {
//       opacity: 0;
//       transition: opacity 0.1s easeInQuad 0.1s;
//     }
//   }
//   // &.show-effect {
//     // @include animated(slideInUp);
//     // animate in:
//     opacity: 1;
//     // -webkit-transform: scale(1);
//     transform: scale(1);
//     // -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
//     transition: transform 0.2s, easeInQuad 0.2s;
//     .reveal-content,
//     .nav-reveal-content {
//       opacity: 1;
//       transition: opacity 0.1s easeInQuad 0.1s;
//     }
//   // }

// }









// MISC
// .read-more {
//   display: block;
//   text-transform: uppercase;
// }



// Apply outline styles only when input method is keyboard
// remove :focus style via What Input using progressive enhancement
// so :focus isn't left broken if JavaScript fails
[data-whatinput="mouse"] a:focus, button:focus
[data-whatinput="touch"] a:focus, button:focus {
  outline: none;
}



// icons
// .svgicon {
//   display: inline-block;
//   width: 1em;
//   height: 1em;
//   stroke-width: 0;
//   stroke: currentColor;
//   fill: currentColor;
// }

// symbol * {
//   /*all: inherit;*/
//   stroke: inherit;
//   fill: inherit;
// }



// TRANSITIONS


// .slidedown-enter-active {
//     transition-timing-function: ease-out-quart;
//     transition-property: transform, opacity;
//     transition-duration: .4s, .2s;
// }
// .slidedown-enter /* .fade-leave-active below version 2.1.8 */ {
//     transform: translateY(-20%);
//     opacity: 0;
// }
// .slidedown-leave-active {
//     transition-timing-function: ease-in-quart;
//     transition-property: transform, opacity;
//     transition-duration: .4s, .4s;
// }
// .slidedown-leave-to /* .fade-leave-active below version 2.1.8 */ {
//     transform: translateY(-20%);
//     opacity: 0;
// }

.kernthemas,
.kernthema {
  max-height: 120em;
  @include from($tablet) {
    max-height: 80em;
  }
  @include from($desktop) {
    max-height: 60em;
  }
  height: auto;
  overflow: hidden;
}
.slidedown-enter-active {
    transition-timing-function: ease-out-quart;
    transition-property: max-height, opacity;
    transition-duration: .4s, .3s;
}
.slidedown-enter /* .fade-leave-active below version 2.1.8 */ {
    opacity: .4;
    max-height: 0;
}
.slidedown-leave-active {
    transition-timing-function: ease-in-quart;
    transition-property: max-height, opacity;
    transition-duration: .4s, .3s;
}
.slidedown-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: .4;
    max-height: 0;
}




.slidedownfast-enter-active {
    transition-timing-function: ease-out-quart;
    transition-property: max-height, opacity, padding-top, padding-bottom;
    transition-delay: .2s, .2s, .2s, .2s;
    transition-duration: .3s, .3s, .3s, .3s;
}
.slidedownfast-enter /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    max-height: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.slidedownfast-leave-active {
    transition-timing-function: ease-in-quart;
    transition-property: max-height, opacity, padding-top, padding-bottom;
    transition-duration: .2s, .2s, .2s, .2s;
}
.slidedownfast-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    max-height: 2em;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


// FLEX SLIDEDOWN
// bummer: you have to give a fixed height to the main flex wrapper..
/*.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height:200vh;
  .page-content {
    display: flex;
    flex: initial;
  }
  .kernthemas {
    display: flex;
    flex: auto;
    overflow: hidden;
  }
}
.kernthemas.slidedown-enter-active {
    display: flex !important;
    transition-timing-function: ease-out-quart;
    transition-property: flex;
    transition-duration: .4s;
}
.kernthemas.slidedown-enter {
    // transform: translateY(-20%);
    display: flex !important;
    flex: 0;
}
.kernthemas.slidedown-leave-active {
    display: flex !important;
    transition-timing-function: ease-in-quart;
    transition-property: flex;
    transition-duration: .4s;
}
.kernthemas.slidedown-leave-to {
    // transform: translateY(-20%);
    display: flex !important;
    flex: 0;
}*/



.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}




// animations
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    // box-shadow: 0 0 24px rgba($cerulean, 0);
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
