// Custom grid


*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.editor-content {
  max-width: 50em;
}



// html, body {
//   overflow-x: hidden;
//   // overflow-y: hidden;
//   height: auto;
//   margin: 0;
//   position: relative;
// }

// html.prevent-scroll {
//   overflow-y: hidden;
//   margin-top: 0 !important; // no admin bar margin for reveals

//   // .sticky-nav-wrapper .sticky.is-stuck.sticky-nav-visible {
//   //   top: -20rem !important; // no sticky nav on reveals
//   //   transition: top 2s ease-out 0s;
//   // }
// }

// * {
//   box-sizing: border-box;
// }

// img {
//   max-width: 100%;
//   height: auto;
// }



.site-header {
  z-index: 100;
  position: relative;
  nav#filter {
    background: $white;
  }
}

.kernthemas {
  position: relative;
  z-index: 20;
  & > .kernthema {
    padding: 2rem 2em;
    // background-color: lighten($primary, 60);
  }
}



.page-content {
  margin-top: 3rem;
  margin-bottom: 4rem;
}




footer.site-footer {
  padding: 1rem;
}