
.sitemap .article-content {
  @media screen and (max-width: 560px) {
    overflow-x: scroll;
    padding-left: 5px;
    padding-bottom: 1rem;

    .svg-container {
        width: 100%;
        width: 500px;
        padding-bottom: ( 920 / 950 ) * 500px;
    }
  }
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    min-width: 500px;
    padding-bottom: 97%;
    vertical-align: top;
    overflow: visible;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}


.sitemap svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: visible;
}

.node circle {
    fill: #999;
}

.node text {
    font: 13px sans-serif;
    text-transform: lowercase;
}
#node-1.node text {
  text-transform: none;
}

/* .node--internal circle {
    fill: #555;
} */

.node--internal text {
    // text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
    text-shadow:
      1px 1px 0px $white, -1px -1px 0px $white,
      2px 2px 0px $white, -2px -2px 0px $white,
      3px 3px 0px $white, -3px -3px 0px $white,
      4px 4px 0px $white, -4px -4px 0px $white,
      5px 5px 0px $white, -5px -5px 0px $white;
}

// .node.leren-zichtbaar-maken text {
//     background: pink;
//     /* font-size: 200%; */
//     color: blue;
// }

.link {
    fill: none;
    stroke: lighten($primary, 10);
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
} 

.node.leren-bijsturen circle {
    fill: $pink;
}

.node.leren-zichtbaar-maken circle{
    fill: $azure;
}   

.node.leren-in-een-veilig-en-stimulerend-leerklimaat circle{
    fill: $aquamarine;
}
.tekst-leren-bijsturen {
    color: $pink;
}

.tekst-leren-zichtbaar-maken {
    color: $azure;
}   

.tekst-leren-in-een-veilig-en-stimulerend-leerklimaat {
    color: $aquamarine;
}

.bg-leren-bijsturen {
    background-color: $pink;
}

.bg-leren-zichtbaar-maken {
    background-color: $azure;
}   

.bg-leren-in-een-veilig-en-stimulerend-leerklimaat {
    background-color: $aquamarine;
}

.leren-bijsturen .button {
    border-color: $pink;
}

.leren-zichtbaar-maken .button {
    border-color: $azure;
}

.leren-in-een-veilig-en-stimulerend-leerklimaat .button {
    border-color: $aquamarine;
}

path.sub-tree {
  stroke: $primary;
  stroke-opacity: 1;
}
.sub-tree circle {
  fill: $primary !important;
  // fill: #FF0000 !important;
}

.you-are-here circle {
  // fill: $primary !important;
  // fill: #00FF00 !important;
  transform: scale(1.25);
}
.you-are-here text {
  font-size: 120%;
  font-weight: 700;
}

.node text[data-link-type="fiche"] {
    cursor: pointer;
}
