// no crap
// start blank for all things typography


// FONTS


// STYLES

body {
  // font-size: 112.5%; // 18px;
  font-size: 100%; //16px;

  font-family: 'Open Sans', sans-serif;
  font-weight: $normal-weight;
  color: $body-font-color;

  line-height: 1.67;
}



// .site-header,
// .site-footer {
//     font-size: 0.888889rem;  
// }


h1, h2,
.h1, .h2,
h3, h4, h5, h6,
.h3, .h4, .h5, .h6,
.title,
.subtitle {
  font-family: 'Merriweather', serif;
  font-weight: 400;

  color: $primary;
  line-height: 1.2;
}

h1, h2,
.h1, .h2 {
  margin-bottom: $paragraph-margin-bottom;
}
h3, h4, h5, h6,
.h3, .h4, .h5, .h6 {
  margin-bottom: $paragraph-margin-bottom/6;
}

h1, .h1 {
  font-size: 2rem;
}
h2, .h2 {
  font-size: 1.625rem;
}
h3, .h3 {
  font-size: 1.375rem;
}
h4, h5, h6, .h4, .h5, .h6 {
  font-size: 1rem;
}


strong,
b {
  font-weight: $medium-weight;
}


.editor-content {
  p, ul, ol {
    margin-bottom: $paragraph-margin-bottom;
  }

  h2, h3, h4, h5, h6,
  .h2, .h4, .h5, .h6 {
    margin-top: $paragraph-margin-bottom*2;
    &:first-child {
      margin-top: 0;
    }
  }

}







// misc
.close-button,
.owl-prev,
.owl-next {

}
.menu-toggle {

}

.text-center {
  text-align: center;
  .text-left {
    text-align: left;
  }
  @include breakpoint-max($medium) {
    text-align: left;
  }
}

// svg.svgicon {
//   // font-size: 0.888888889rem; //16px;
//   // line-height: 1.67;
//   font-size: .75rem;
// }


