// no crap
// start blank for all things typography


// FONTS


// STYLES

body {
  // font-size: 112.5%; // 18px;
  // font-size: 100%; //16px;
  font-size: 93.75%; //15px;


  font-family: arial, helvetica, "helvetica neue", verdana, sans-serif; 
  font-weight: $normal-weight;
  color: $body-font-color;

  line-height: 1.67;
}



// .site-header,
// .site-footer {
//     font-size: 0.888889rem;  
// }


h1, h2,
.h1, .h2,
h3, h4, h5, h6,
.h3, .h4, .h5, .h6,
.title,
.subtitle {
  // font-family: 'Merriweather', serif;
  // font-weight: 400;
  // font-family: 'Rambla', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;

  color: $primary;
  line-height: 1.2;
}

h1,
.h1 {
  margin-bottom: $paragraph-margin-bottom;
}
h2,
.h2 {
  margin-bottom: $paragraph-margin-bottom/2;
}
// h1.article-title {
//   margin-bottom: $paragraph-margin-bottom*2;
// }
h3, h4, h5, h6,
.h3, .h4, .h5, .h6 {
  margin-bottom: $paragraph-margin-bottom/6;
}

h1, .h1 {
  font-size: 2rem;
  // @include mobile() {
  //   font-size: 2rem;
  // }
}
h2, .h2 {
  font-size: 1.5rem;
  // @include mobile() {
  //   font-size: 1.125rem;
  // }
}
h3, .h3 {
  font-size: 1.25rem;
  // @include mobile() {
  //   font-size: 1rem;
  // }
}
h4, h5, h6, .h4, .h5, .h6 {
  font-size: 1rem;
}

.site-header {
  text-transform: uppercase;
  font-size: .8rem;
  .search-box {
    text-transform: none;
  }
  .site-logo {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
  }
  .navbar-end {
    font-family: 'Roboto Condensed', sans-serif;
  }
}
#filter .tabs {
  font-size: .8rem !important;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}


.subcat-link,
.article-meta,
.search-box,
.sitemap .node text,
.breadcrumb,
.download-button,
.article-navigation,
.site-footer,
button,
input,
select,
textarea {
  font-family: 'Roboto Condensed', sans-serif;
}




strong,
b {
  font-weight: $medium-weight;
}


.editor-content {
  p, ul, ol {
    margin-bottom: $paragraph-margin-bottom;
  }

  h2, h3, h4, h5, h6,
  .h2, .h4, .h5, .h6 {
    margin-top: $paragraph-margin-bottom*2;
    &:first-child {
      margin-top: 0;
    }
  }

  ul {
    list-style: disc outside;
  }
  ol {
    list-style: decimal outside;
  }
  ul, ol {
    margin-left: 3rem;
    @include mobile() {
      margin-left: $paragraph-margin-bottom;
    }
    padding-left: 1rem;
    margin-top: $paragraph-margin-bottom/2;
    li {
      margin-bottom: .3rem;
    }
    ul, ol {
      margin-left: $paragraph-margin-bottom;
      margin-top: .3rem;
      margin-bottom: 0;
    }
    ul {
      list-style-type: '-';
    }
  }

  li {

  }

}







// misc
.close-button,
.owl-prev,
.owl-next {

}
.menu-toggle {

}

.text-center {
  text-align: center;
  .text-left {
    text-align: left;
  }
  @include breakpoint-max($medium) {
    text-align: left;
  }
}

// svg.svgicon {
//   // font-size: 0.888888889rem; //16px;
//   // line-height: 1.67;
//   font-size: .75rem;
// }


