.fiche-link {
    margin-right: 2em;
}
#subcat-buttons {
    margin-bottom: 2em;
}
@media screen and (min-width: 769px) {
    nav.pagination {
        position: fixed;
        top: 50%;
        z-index: 5;
        left: 0;
        width: 100%;
    }
}

#main {
    margin-bottom: 4rem;
}
.hero {
    background: white;
}
.fiche-main .hero {
    padding-left: 0;
    padding-right: 0;
}
.fiche-content > .section {
    padding: 0;
    margin: 3rem 0;

}
.fiche-content .entry-copy {
    padding-top: .5rem;
    max-width: 60rem;
    padding-left: 2.5rem;
}
.fiche-content .subtitle {
    font-size: 1.5rem;
}
.breadcrumb .icon.is-small,
.fiche-content .icon.is-small {
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}


/*.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 * / {
    opacity: 0;
}*/

.collapse-up-enter-active, .collapse-up-leave-active {

}

.intro-copy {
    
    will-change: transform;
    transform-origin: top left;
}
.fade-enter-active {
    transition-timing-function: ease-out-quart;
    transition-property: transform, opacity;
    transition-duration: .4s, .2s;
}
.fade-enter /* .fade-leave-active below version 2.1.8 */ {
    transform: translateY(-20%);
    opacity: 0;
}
.fade-leave-active {
    transition-timing-function: ease-in-quart;
    transition-property: transform, opacity;
    transition-duration: .4s, .4s;
}
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    transform: translateY(-20%);
    opacity: 0;
}



.page-enter-active {
    transition-timing-function: ease-out-sine;
}
.page-leave-active {
    transition-timing-function: ease-in-sine;
}
.page-enter-active, .page-leave-active {
    transition-property: opacity;
    transition-duration: .2s;
}
.page-enter, .page-leave-to {
    opacity: 0;
}


.pagefiche-enter-active {
    transition-timing-function: ease-out-sine;
}
.pagefiche-leave-active {
    transition-timing-function: ease-in-sine;
}
.pagefiche-enter-active, .page-fiche-leave-active {
    transform-origin: center center;
    transition-property: transform, opacity;
    transition-duration: 4s, 2s;
}
.pagefiche-enter, .page-fiche-leave-to {
    opacity: 0;
    transform: scale(.8);
}


svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.node circle {
    fill: #999;
}

.node text {
    font: 13px sans-serif;
}

/* .node--internal circle {
    fill: #555;
} */

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.node.leren-zichtbaar-maken text {
    background: pink;
    /* font-size: 200%; */
    color: blue;
}

.link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
} 

.node.leren-bijsturen circle {
    fill: #e9d4d6;
}

.node.leren-zichtbaar-maken circle{
    fill: #54cee7;
}   

.node.leren-in-een-veilig-en-stimulerend-leerklimaat circle{
    fill: #c6e0dd;
}
.tekst-leren-bijsturen {
    color: #e9d4d6;
}

.tekst-leren-zichtbaar-maken {
    color: #54cee7;
}   

.tekst-leren-in-een-veilig-en-stimulerend-leerklimaat {
    color: #c6e0dd;
}

.leren-bijsturen .button {
    border-color: #e9d4d6;
}

.leren-zichtbaar-maken .button {
    border-color: #54cee7;
}

.leren-in-een-veilig-en-stimulerend-leerklimaat .button {
    border-color: #c6e0dd;
}

.sub-tree {
    stroke: red;
}