.tab.leren-in-een-veilig-stimulerend-leerklimaat {
    background-color: #c6e0dd;
    padding: 1em 2em;
    margin-right: 2em;
}

.tab.leren-bijsturen {
    background-color: #e9d4c6;
    padding: 1em 2em;
    margin-right: 2em;
}

.tab.leren-zichtbaar-maken {
    background-color: #54cee7;
    padding: 1em 2em;
    margin-right: 2em;
}

.fiche-link {
    margin-right: 2em;
}

.tekst-leren-in-een-veilig-stimulerend-leerklimaat {
    color: #c6e0dd;
}

.tekst-leren-bijsturen {
    color: #e9d4c6;
}

.tekst-leren-zichtbaar-maken {
    color: #54cee7;
}