@charset "utf-8";

// BULMA


// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

$azure: #84d6e6; //#54cee7; // leren zichtbaar maken
$pink: #e9d4d6; // leren bijsturen
$aquamarine: #c6e0dd; // leren in een veilig en stimulerend leerklimaat
$primary: #2f4f4f; //DarkSlateGray

$light-gray: #f9f9f9; // gray header bg
$medium-gray: #cacaca;
$dark-gray: #333333;
$black: #0a0a0a;
$white: #ffffff;
$sandybrown: #f5a65b;
$khaki: #c1cc99;
$dark-green: #01252a;

// // new colours!!
// $azure: #55efc4; //#1abc9c;
// $pink: #fab1a0;
// $aquamarine: #81ecec;
// $primary: DarkSlateGray; //#34495e; //#34495e;

// $light-gray: #ecf0f1; // gray header bg
// $medium-gray: #95a5a6;
// $dark-gray: #7f8c8d;



// Update Bulma's global variables
$column-gap: 1rem;
$family-sans-serif: 'Open Sans', sans-serif;
$grey-dark: $dark-gray;
$grey-light: $light-gray;
$link: $primary; //SteelBlue; //$primary;

$navbar-item-hover-background-color: lighten($primary, 50);
$navbar-background-color: darken($light-gray, 5); //lighten($primary, 70);

$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$tabs-boxed-link-radius: 0;
$tabs-toggle-link-radius: 0;

// components
$modal-content-width: 1050px;


// reset button
// https://gist.github.com/MoOx/9137295
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
      border: 0;
      padding: 0;
  }
}

.cta-button {
  background: $dark-green;
  color: $white!important;
  font-weight: bold;
  text-decoration: underline;
  border-radius: 5px !important;
  margin-right: 1em;
}









// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";

@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";

@import "../node_modules/bulma/sass/components/breadcrumb.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";

@import "../node_modules/bulma/sass/grid/columns.sass";

@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";


// TOOLBOX CONSTANTS





$normal-weight: 400;
$medium-weight: 600;
$bold-weight: 700;

$body-font-color: $black;
$text-strong: $body-font-color;


$small : 460px;
$medium : 780px;
$large : 1000px;
$larger : 1120px;
$xlarge : 1440px;


$global-margin: 30px;
$global-padding: 20px;
$paragraph-margin-bottom: 1rem;

$global-radius: 0; //2px;


// CIPT global mixins
@import 'scss/mixins';


// Project Globals
@import "scss/typography";
@import "scss/grid";
@import "scss/elements";

@import "scss/app";
@import "scss/sitemap";

@import "scss/print";


// Modules
// @import "parts/navigation";
// @import "parts/footer";
// @import "parts/newsletter";
// @import "parts/gallery-and-modals";
// @import "parts/sidebar";
// @import "parts/cookienotice";


// Components
// @import "elements";
// @import "parts/articles";
// @import "parts/events";


// Finishing touch: import your print styles
// @import "print";



