@charset "utf-8";

// BULMA


// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

$azure: #54cee7; // leren zichtbaar maken
$pink: #e9d4d6; // leren bijsturen
$aquamarine: #c6e0dd; // leren in een veilig en stimulerend leerklimaat


$light-gray: #f9f9f9; // gray header bg
$medium-gray: #cacaca;
$dark-gray: #333333;
$black: #0a0a0a;
$white: #ffffff;



// Update Bulma's global variables
$family-sans-serif: 'Open Sans', sans-serif;
$grey-dark: $dark-gray;
$grey-light: $light-gray;
$primary: #2f4f4f; //DarkSlateGray
$link: SteelBlue; //$primary;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// components
$modal-content-width: 1050px;


// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";

@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/notification.sass";
// @import "../node_modules/bulma/sass/elements/form.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";

@import "../node_modules/bulma/sass/components/breadcrumb.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";
@import "../node_modules/bulma/sass/components/modal.sass";

@import "../node_modules/bulma/sass/grid/columns.sass";

@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";


// TOOLBOX CONSTANTS





$normal-weight: 400;
$medium-weight: 600;
$bold-weight: 700;

$body-font-color: $dark-gray;


$small : 460px;
$medium : 780px;
$large : 1000px;
$larger : 1120px;
$xlarge : 1440px;


$global-margin: 30px;
$global-padding: 20px;
$paragraph-margin-bottom: 1rem;

$global-radius: 2px;


// CIPT global mixins
@import 'scss/mixins';


// Project Globals
@import "scss/typography";
@import "scss/grid";
@import "scss/elements";

@import "scss/app";
@import "scss/sitemap";


// Modules
// @import "parts/navigation";
// @import "parts/footer";
// @import "parts/newsletter";
// @import "parts/gallery-and-modals";
// @import "parts/sidebar";
// @import "parts/cookienotice";


// Components
// @import "elements";
// @import "parts/articles";
// @import "parts/events";


// Finishing touch: import your print styles
// @import "print";



